In [1]:
import pandas as pd

# Proje Görevleri

## Görev 1: Aşağıdaki Soruları Yanıtlayınız

Soru 1: persona.csvdosyasını okutunuz ve veri seti ile ilgili genel bilgileri gösteriniz.
Soru 2: Kaç unique SOURCE vardır? Frekansları nedir?
Soru 3: Kaç unique PRICE vardır?
Soru 4: Hangi PRICE'dan kaçar tane satış gerçekleşmiş?
Soru 5: Hangi ülkeden kaçar tane satış olmuş?
Soru 6: Ülkelere göre satışlardan toplam ne kadar kazanılmış?
Soru 7: SOURCE türlerine göre satış sayıları nedir?
Soru 8: Ülkelere göre PRICE ortalamaları nedir?
Soru 9: SOURCE'laragöre PRICE ortalamaları nedir?
Soru 10: COUNTRY-SOURCE kırılımında PRICE ortalamaları nedir?

## Görev 2: COUNTRY, SOURCE, SEX, AGE kırılımın aortalama kazançlar nedir?

## Görev 3: Çıktıyı PRICE’a göre sıralayınız.

Önceki sorudaki çıktıyı daha iyi görebilmek için sort_values metodunu azalan olacak şekilde PRICE’agöre uygulayınız.
Çıktıyı agg_df olarak kaydediniz.

## Görev 4: Indekste yer alan isimleri değişken ismine çeviriniz.

reset_index()

## Görev 5: Age değişkenini kategorik değişkene çeviriniz ve agg_df’eekleyiniz.

Age sayısal değişkenini kategorik değişkene çeviriniz.
Aralıkları ikna edici şekilde oluşturunuz.
Örneğin: ‘0_18', ‘19_23', '24_30', '31_40', '41_70'

## Görev 6: Yeni seviye tabanlı müşterileri (persona) tanımlayınız.

Yeni seviye tabanlı müşterileri (persona) tanımlayınız ve veri setine değişken olarak ekleyiniz.
Yeni eklenecek değişkenin adı: customers_level_based
Önceki soruda elde edeceğiniz çıktıdaki gözlemleri bir araya getirerek customers_level_based değişkenini oluşturmanız gerekmektedir.

Dikkat! Listcomprehensionile customers_level_baseddeğerleri oluşturulduktan sonra bu değerlerin tekilleştirilmesi gerekmektedir.
Örneğin birden fazla şu ifadeden olabilir: USA_ANDROID_MALE_0_18. Bunları groupby'aalıp priceortalamalarını almak gerekmektedir.

## Görev 7: Yeni müşterileri (personaları) segmentlereayırınız.

Yeni müşterileri (Örnek: USA_ANDROID_MALE_0_18) PRICE’agöre 4 segmente ayırınız.
Segmentleri SEGMENT isimlendirmesi ile değişken olarak agg_df’eekleyiniz.
Segmentleri betimleyiniz (Segmentleregöre groupbyyapıp pricemean, max, sum’larınıalınız).

İPUCU: pd.qcut(agg_df["PRICE"], 4, labels = ["D","C","B","A"]

## Görev 8: Yeni gelen müşterileri sınıflandırıp, ne kadar gelir getirebileceklerini  tahmin ediniz.

33 yaşında ANDROID kullanan bir Türk kadını hangi segmenteaittir ve ortalama ne kadar gelir kazandırması beklenir?
35 yaşında IOS kullanan bir Fransız kadını hangi segmenteaittir ve ortalama ne kadar gelir kazandırması beklenir?

İPUCU:

new_user = "TUR_ANDROID_FEMALE_31_40"
agg_df[agg_df["customers_level_based"] == new_user]

## Görev 1: Aşağıdaki Soruları Yanıtlayınız

Soru 1: persona.csv dosyasını okutunuz ve veri seti ile ilgili genel bilgileri gösteriniz.
Soru 2: Kaç unique SOURCE vardır? Frekansları nedir?
Soru 3: Kaç unique PRICE vardır?
Soru 4: Hangi PRICE'dan kaçar tane satış gerçekleşmiş?
Soru 5: Hangi ülkeden kaçar tane satış olmuş?
Soru 6: Ülkelere göre satışlardan toplam ne kadar kazanılmış?
Soru 7: SOURCE türlerine göre satış sayıları nedir?
Soru 8: Ülkelere göre PRICE ortalamaları nedir?
Soru 9: SOURCE'laragöre PRICE ortalamaları nedir?
Soru 10: COUNTRY-SOURCE kırılımında PRICE ortalamaları nedir?

In [4]:
df = pd.read_csv("persona.csv")
df.head()

   PRICE   SOURCE   SEX COUNTRY  AGE
0     39  android  male     bra   17
1     39  android  male     bra   17
2     49  android  male     bra   17
3     29  android  male     tur   17
4     49  android  male     tur   17

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5000 entries, 0 to 4999
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   PRICE    5000 non-null   int64
 1   SOURCE   5000 non-null   object
 2   SEX      5000 non-null   object
 3   COUNTRY  5000 non-null   object
 4   AGE      5000 non-null   int64
dtypes: int64(2), object(3)
memory usage: 234.4+ KB

In [7]:
df.describe().T

        count     mean        std   min   25%   50%   75%   max
PRICE  5000.0  34.1320  12.464897   9.0  29.0  39.0  39.0  59.0
AGE    5000.0  23.5814   8.995908  15.0  17.0  21.0  27.0  66.0

Soru 4: Hangi PRICE'dan kaçar tane satış gerçekleşmiş?

In [10]:
df.groupby(by="PRICE").count()

       SOURCE   SEX  COUNTRY   AGE
PRICE
9         200   200      200   200
19        992   992      992   992
29       1305  1305     1305  1305
39       1260  1260     1260  1260
49       1031  1031     1031  1031
59        212   212      212   212

Soru 5: Hangi ülkeden kaçar tane satış olmuş?

In [9]:
df.groupby(by="COUNTRY").count()

         PRICE  SOURCE   SEX   AGE
COUNTRY
bra       1496    1496  1496  1496
can        230     230   230   230
deu        455     455   455   455
fra        303     303   303   303
tur        451     451   451   451
usa       2065    2065  2065  2065

Soru 6: Ülkelere göre satışlardan toplam ne kadar kazanılmış?

In [11]:
df.groupby(by="COUNTRY").sum()

         PRICE    AGE
COUNTRY
bra      51354  35854
can       7730   5376
deu      15485  10394
fra      10177   6923
tur      15689  10689
usa      70225  48671

Soru 7: SOURCE türlerine göre satış sayıları nedir?

In [12]:
df.groupby(by="SOURCE").count()

         PRICE   SEX  COUNTRY   AGE
SOURCE
android   2974  2974     2974  2974
ios       2026  2026     2026  2026

Soru 8: Ülkelere göre PRICE ortalamaları nedir?

In [15]:
df.groupby(by="COUNTRY").mean()

             PRICE        AGE
COUNTRY
bra      34.327540  23.966578
can      33.608696  23.373913
deu      34.032967  22.843956
fra      33.587459  22.848185
tur      34.787140  23.700665
usa      34.007264  23.569492

Soru 9: SOURCE’laragöre PRICE ortalamaları nedir?

In [16]:
df.groupby(by="SOURCE").mean()

             PRICE        AGE
SOURCE
android  34.174849  23.515804
ios      34.069102  23.677690

Soru 10: COUNTRY-SOURCE kırılımında PRICE ortalamaları nedir?

In [20]:
df.groupby(["COUNTRY", 'SOURCE']).agg({"PRICE": "mean"})

                     PRICE
COUNTRY SOURCE
bra     android  34.387029
        ios      34.222222
can     android  33.330709
        ios      33.951456
deu     android  33.869888
        ios      34.268817
fra     android  34.312500
        ios      32.776224
tur     android  36.229437
        ios      33.272727
usa     android  33.760357
        ios      34.371703

# Görev 2: COUNTRY, SOURCE, SEX, AGE kırılımında ortalama kazançlar nedir?

In [21]:
df.groupby(["COUNTRY", 'SOURCE', "SEX", "AGE"]).agg({"PRICE": "mean"})

                                PRICE
COUNTRY SOURCE  SEX    AGE
bra     android female 15   38.714286
                       16   35.944444
                       17   35.666667
                       18   32.255814
                       19   35.206897
...                               ...
usa     ios     male   42   30.250000
                       50   39.000000
                       53   34.000000
                       55   29.000000
                       59   46.500000

[348 rows x 1 columns]

# Görev 3: Çıktıyı PRICE’a göre sıralayınız.

In [25]:
agg_df = df.groupby(["COUNTRY", 'SOURCE', "SEX", "AGE"]).agg({"PRICE": "mean"})
agg_df

                                PRICE
COUNTRY SOURCE  SEX    AGE
bra     android female 15   38.714286
                       16   35.944444
                       17   35.666667
                       18   32.255814
                       19   35.206897
...                               ...
usa     ios     male   42   30.250000
                       50   39.000000
                       53   34.000000
                       55   29.000000
                       59   46.500000

[348 rows x 1 columns]

In [26]:
agg_df = agg_df.sort_values(by="PRICE")
agg_df

                            PRICE
COUNTRY SOURCE  SEX    AGE
deu     android male   26     9.0
usa     ios     female 38    19.0
tur     ios     male   47    19.0
        android male   21    19.0
fra     android male   18    19.0
...                           ...
deu     ios     male   20    49.0
usa     ios     male   32    54.0
bra     android male   46    59.0
fra     android female 24    59.0
usa     android male   36    59.0

[348 rows x 1 columns]

# Görev 4: Indekste yer alan isimleri değişken ismine çeviriniz.

In [27]:
agg_df = agg_df.reset_index()
agg_df

    COUNTRY   SOURCE     SEX  AGE  PRICE
0       deu  android    male   26    9.0
1       usa      ios  female   38   19.0
2       tur      ios    male   47   19.0
3       tur  android    male   21   19.0
4       fra  android    male   18   19.0
..      ...      ...     ...  ...    ...
343     deu      ios    male   20   49.0
344     usa      ios    male   32   54.0
345     bra  android    male   46   59.0
346     fra  android  female   24   59.0
347     usa  android    male   36   59.0

[348 rows x 5 columns]

# Görev 5: Age değişkenini kategorik değişkene çeviriniz ve agg_df’eekleyiniz.

In [32]:
age = [0, 18, 23, 30, 40, agg_df["AGE"].max()]

mylabels = ['0-18', '19-23', '24-30', '31-40', '41-' + str(agg_df["AGE"].max())]

agg_df["age_categori"] = pd.cut(agg_df["AGE"], age, labels=mylabels)

In [33]:
agg_df

    COUNTRY   SOURCE     SEX  AGE  PRICE age_categori
0       deu  android    male   26    9.0        24-30
1       usa      ios  female   38   19.0        31-40
2       tur      ios    male   47   19.0        41-66
3       tur  android    male   21   19.0        19-23
4       fra  android    male   18   19.0         0-18
..      ...      ...     ...  ...    ...          ...
343     deu      ios    male   20   49.0        19-23
344     usa      ios    male   32   54.0        31-40
345     bra  android    male   46   59.0        41-66
346     fra  android  female   24   59.0        24-30
347     usa  android    male   36   59.0        31-40

[348 rows x 6 columns]

# Görev 6: Yeni seviye tabanlı müşterileri (persona) tanımlayınız.

In [34]:
for row in agg_df.values:
    print(row)

['deu' 'android' 'male' 26 9.0 '24-30']
['usa' 'ios' 'female' 38 19.0 '31-40']
['tur' 'ios' 'male' 47 19.0 '41-66']
['tur' 'android' 'male' 21 19.0 '19-23']
['fra' 'android' 'male' 18 19.0 '0-18']
['usa' 'ios' 'female' 30 19.0 '24-30']
['can' 'android' 'female' 27 19.0 '24-30']
['bra' 'ios' 'male' 47 19.0 '41-66']
['bra' 'ios' 'female' 34 19.0 '31-40']
['bra' 'android' 'male' 23 21.5 '19-23']
['tur' 'ios' 'male' 21 22.333333333333332 '19-23']
['bra' 'ios' 'male' 36 22.333333333333332 '31-40']
['bra' 'android' 'female' 28 22.333333333333332 '24-30']
['usa' 'android' 'male' 29 22.333333333333332 '24-30']
['tur' 'android' 'female' 29 24.0 '24-30']
['bra' 'android' 'female' 34 24.0 '31-40']
['usa' 'ios' 'male' 29 24.0 '24-30']
['usa' 'ios' 'male' 36 24.0 '31-40']
['fra' 'ios' 'female' 25 25.0 '24-30']
['fra' 'android' 'male' 21 25.666666666666668 '19-23']
['can' 'android' 'female' 15 25.666666666666668 '0-18']
['usa' 'android' 'male' 65 25.666666666666668 '41-66']
['tur' 'ios' 'female' 38 25.666666666666668 '31-40']
['usa' 'android' 'male' 24 26.058823529411764 '24-30']
['bra' 'android' 'female' 27 26.142857142857142 '24-30']
['deu' 'android' 'female' 16 27.0 '0-18']
['tur' 'ios' 'male' 19 27.333333333333332 '19-23']
['fra' 'android' 'female' 19 27.333333333333332 '19-23']
['bra' 'ios' 'female' 31 27.571428571428573 '31-40']
['fra' 'ios' 'female' 16 27.75 '0-18']
['deu' 'android' 'female' 41 27.75 '41-66']
['usa' 'android' 'female' 34 28.0 '31-40']
['usa' 'android' 'female' 32 28.166666666666668 '31-40']
['bra' 'android' 'male' 28 28.23076923076923 '24-30']
['can' 'ios' 'male' 32 29.0 '31-40']
['can' 'ios' 'female' 16 29.0 '0-18']
['tur' 'android' 'female' 56 29.0 '41-66']
['tur' 'android' 'male' 36 29.0 '31-40']
['bra' 'android' 'male' 53 29.0 '41-66']
['bra' 'ios' 'male' 37 29.0 '31-40']
['tur' 'ios' 'female' 16 29.0 '0-18']
['usa' 'android' 'male' 34 29.0 '31-40']
['usa' 'android' 'male' 37 29.0 '31-40']
['bra' 'ios' 'male' 31 29.0 '31-40']
['usa' 'android' 'male' 57 29.0 '41-66']
['deu' 'android' 'female' 33 29.0 '31-40']
['deu' 'ios' 'male' 23 29.0 '19-23']
['usa' 'android' 'female' 30 29.0 '24-30']
['fra' 'ios' 'male' 15 29.0 '0-18']
['usa' 'android' 'male' 38 29.0 '31-40']
['deu' 'ios' 'female' 24 29.0 '24-30']
['usa' 'ios' 'female' 42 29.0 '41-66']
['deu' 'android' 'male' 32 29.0 '31-40']
['fra' 'ios' 'male' 38 29.0 '31-40']
['usa' 'ios' 'male' 55 29.0 '41-66']
['usa' 'android' 'female' 27 29.0 '24-30']
['fra' 'ios' 'male' 27 29.0 '24-30']
['deu' 'android' 'male' 24 29.0 '24-30']
['usa' 'ios' 'female' 35 29.625 '31-40']
['bra' 'android' 'male' 16 29.666666666666668 '0-18']
['can' 'android' 'female' 16 29.689655172413794 '0-18']
['bra' 'android' 'male' 29 29.714285714285715 '24-30']
['bra' 'ios' 'female' 23 29.76923076923077 '19-23']
['can' 'android' 'male' 24 29.76923076923077 '24-30']
['usa' 'android' 'female' 24 30.05263157894737 '24-30']
['bra' 'ios' 'male' 42 30.11111111111111 '41-66']
['tur' 'ios' 'female' 17 30.176470588235293 '0-18']
['fra' 'android' 'male' 15 30.25 '0-18']
['usa' 'ios' 'male' 42 30.25 '41-66']
['usa' 'ios' 'male' 33 30.304347826086957 '31-40']
['usa' 'ios' 'female' 50 30.304347826086957 '41-66']
['fra' 'ios' 'female' 28 30.428571428571427 '24-30']
['bra' 'ios' 'male' 66 30.428571428571427 '41-66']
['bra' 'ios' 'female' 29 30.428571428571427 '24-30']
['bra' 'android' 'male' 25 30.428571428571427 '24-30']
['deu' 'ios' 'female' 15 30.666666666666668 '0-18']
['fra' 'ios' 'male' 16 30.666666666666668 '0-18']
['usa' 'android' 'female' 26 30.77777777777778 '24-30']
['usa' 'ios' 'female' 34 30.875 '31-40']
['bra' 'android' 'male' 22 31.0 '19-23']
['bra' 'ios' 'male' 21 31.0 '19-23']
['deu' 'ios' 'male' 30 31.0 '24-30']
['bra' 'android' 'female' 20 31.0 '19-23']
['can' 'ios' 'male' 57 31.0 '41-66']
['tur' 'android' 'female' 19 31.0 '19-23']
['deu' 'android' 'female' 21 31.0 '19-23']
['tur' 'ios' 'male' 42 31.105263157894736 '41-66']
['can' 'ios' 'male' 25 31.17391304347826 '24-30']
['deu' 'android' 'male' 19 31.22222222222222 '19-23']
['usa' 'android' 'female' 20 31.285714285714285 '19-23']
['deu' 'ios' 'male' 32 31.352941176470587 '31-40']
['deu' 'android' 'female' 44 31.5 '41-66']
['bra' 'android' 'male' 35 31.5 '31-40']
['usa' 'ios' 'female' 27 31.5 '24-30']
['can' 'android' 'female' 20 31.5 '19-23']
['usa' 'ios' 'female' 16 31.5 '0-18']
['usa' 'ios' 'male' 37 31.727272727272727 '31-40']
['can' 'ios' 'female' 29 31.727272727272727 '24-30']
['bra' 'android' 'male' 36 31.857142857142858 '31-40']
['usa' 'ios' 'male' 25 31.857142857142858 '24-30']
['fra' 'android' 'female' 26 31.857142857142858 '24-30']
['bra' 'android' 'female' 23 31.941176470588236 '19-23']
['deu' 'android' 'female' 15 32.0 '0-18']
['deu' 'android' 'female' 27 32.125 '24-30']
['fra' 'android' 'female' 23 32.125 '19-23']
['usa' 'ios' 'male' 22 32.170731707317074 '19-23']
['bra' 'android' 'female' 18 32.25581395348837 '0-18']
['deu' 'android' 'female' 28 32.333333333333336 '24-30']
['bra' 'ios' 'female' 35 32.333333333333336 '31-40']
['tur' 'android' 'female' 20 32.333333333333336 '19-23']
['bra' 'ios' 'female' 28 32.333333333333336 '24-30']
['fra' 'android' 'male' 32 32.333333333333336 '31-40']
['deu' 'android' 'male' 18 32.333333333333336 '0-18']
['deu' 'android' 'female' 34 32.333333333333336 '31-40']
['deu' 'android' 'male' 31 32.333333333333336 '31-40']
['usa' 'android' 'male' 21 32.333333333333336 '19-23']
['tur' 'android' 'female' 50 32.333333333333336 '41-66']
['usa' 'android' 'female' 44 32.333333333333336 '41-66']
['bra' 'android' 'female' 41 32.333333333333336 '41-66']
['fra' 'android' 'male' 46 32.333333333333336 '41-66']
['usa' 'android' 'female' 18 32.40425531914894 '0-18']
['can' 'android' 'female' 19 32.529411764705884 '19-23']
['fra' 'ios' 'female' 18 32.57142857142857 '0-18']
['tur' 'ios' 'female' 22 32.63636363636363 '19-23']
['fra' 'ios' 'female' 31 32.63636363636363 '31-40']
['bra' 'android' 'male' 27 32.63636363636363 '24-30']
['bra' 'ios' 'female' 17 32.63636363636363 '0-18']
['usa' 'android' 'female' 15 32.666666666666664 '0-18']
['bra' 'ios' 'male' 18 32.68421052631579 '0-18']
['usa' 'ios' 'female' 24 32.75 '24-30']
['usa' 'android' 'male' 19 32.80952380952381 '19-23']
['usa' 'ios' 'female' 23 32.80952380952381 '19-23']
['bra' 'ios' 'female' 20 32.84615384615385 '19-23']
['tur' 'ios' 'male' 15 32.84615384615385 '0-18']
['usa' 'ios' 'male' 17 32.91304347826087 '0-18']
['deu' 'android' 'male' 17 32.91304347826087 '0-18']
['usa' 'ios' 'female' 18 32.91304347826087 '0-18']
['bra' 'ios' 'female' 46 33.0 '41-66']
['fra' 'ios' 'female' 40 33.0 '31-40']
['usa' 'android' 'male' 42 33.0 '41-66']
['fra' 'android' 'male' 25 33.0 '24-30']
['deu' 'ios' 'female' 32 33.0 '31-40']
['bra' 'android' 'male' 18 33.054054054054056 '0-18']
['usa' 'android' 'female' 23 33.1025641025641 '19-23']
['bra' 'android' 'female' 26 33.166666666666664 '24-30']
['usa' 'android' 'male' 27 33.285714285714285 '24-30']
['bra' 'ios' 'male' 44 33.54545454545455 '41-66']
['fra' 'ios' 'female' 15 33.61538461538461 '0-18']
['bra' 'android' 'female' 45 33.61538461538461 '41-66']
['tur' 'android' 'female' 17 33.6875 '0-18']
['bra' 'ios' 'female' 16 33.6875 '0-18']
['can' 'ios' 'female' 15 33.705882352941174 '0-18']
['usa' 'ios' 'male' 15 33.729729729729726 '0-18']
['bra' 'android' 'female' 37 33.73684210526316 '31-40']
['deu' 'android' 'female' 17 33.73684210526316 '0-18']
['bra' 'ios' 'male' 16 33.76190476190476 '0-18']
['usa' 'android' 'female' 22 33.8 '19-23']
['usa' 'ios' 'female' 15 33.857142857142854 '0-18']
['bra' 'ios' 'male' 24 33.86486486486486 '24-30']
['usa' 'ios' 'female' 22 34.0 '19-23']
['usa' 'android' 'male' 16 34.0 '0-18']
['tur' 'ios' 'female' 51 34.0 '41-66']
['tur' 'ios' 'female' 23 34.0 '19-23']
['fra' 'ios' 'male' 26 34.0 '24-30']
['usa' 'android' 'male' 25 34.0 '24-30']
['tur' 'ios' 'female' 25 34.0 '24-30']
['tur' 'ios' 'female' 26 34.0 '24-30']
['usa' 'android' 'female' 25 34.0 '24-30']
['usa' 'android' 'female' 42 34.0 '41-66']
['deu' 'ios' 'female' 23 34.0 '19-23']
['deu' 'android' 'female' 23 34.0 '19-23']
['bra' 'ios' 'female' 54 34.0 '41-66']
['usa' 'ios' 'male' 53 34.0 '41-66']
['usa' 'ios' 'male' 20 34.0 '19-23']
['fra' 'android' 'female' 35 34.0 '31-40']
['can' 'android' 'female' 43 34.0 '41-66']
['bra' 'ios' 'female' 27 34.0 '24-30']
['bra' 'ios' 'male' 19 34.0 '19-23']
['deu' 'android' 'male' 21 34.0 '19-23']
['bra' 'ios' 'female' 24 34.0 '24-30']
['usa' 'ios' 'male' 26 34.0 '24-30']
['deu' 'ios' 'female' 22 34.0 '19-23']
['usa' 'android' 'female' 21 34.18518518518518 '19-23']
['bra' 'ios' 'female' 26 34.333333333333336 '24-30']
['usa' 'android' 'male' 28 34.38461538461539 '24-30']
['deu' 'android' 'female' 25 34.45454545454545 '24-30']
['usa' 'android' 'male' 17 34.45454545454545 '0-18']
['tur' 'android' 'female' 16 34.55555555555556 '0-18']
['usa' 'ios' 'female' 33 34.55555555555556 '31-40']
['bra' 'android' 'female' 38 34.55555555555556 '31-40']
['usa' 'ios' 'male' 18 34.57692307692308 '0-18']
['usa' 'android' 'female' 17 34.625 '0-18']
['fra' 'android' 'female' 17 34.65217391304348 '0-18']
['usa' 'android' 'male' 15 34.663716814159294 '0-18']
['usa' 'android' 'male' 22 34.714285714285715 '19-23']
['usa' 'ios' 'male' 16 34.714285714285715 '0-18']
['usa' 'ios' 'female' 47 34.714285714285715 '41-66']
['usa' 'android' 'male' 31 34.714285714285715 '31-40']
['usa' 'android' 'male' 35 34.714285714285715 '31-40']
['bra' 'ios' 'male' 34 34.714285714285715 '31-40']
['usa' 'android' 'female' 28 34.78947368421053 '24-30']
['tur' 'ios' 'male' 17 34.806451612903224 '0-18']
['usa' 'android' 'male' 23 34.84905660377358 '19-23']
['bra' 'ios' 'male' 23 34.88235294117647 '19-23']
['usa' 'android' 'female' 16 34.90163934426229 '0-18']
['bra' 'android' 'female' 22 34.945945945945944 '19-23']
['can' 'ios' 'male' 16 35.0 '0-18']
['usa' 'ios' 'female' 20 35.0 '19-23']
['deu' 'ios' 'male' 25 35.0 '24-30']
['usa' 'android' 'female' 31 35.0 '31-40']
['deu' 'android' 'female' 22 35.0 '19-23']
['fra' 'ios' 'male' 22 35.0 '19-23']
['usa' 'ios' 'female' 65 35.0 '41-66']
['deu' 'ios' 'male' 17 35.0 '0-18']
['bra' 'android' 'female' 31 35.09756097560975 '31-40']
['usa' 'ios' 'male' 27 35.111111111111114 '24-30']
['bra' 'ios' 'female' 37 35.111111111111114 '31-40']
['usa' 'android' 'male' 18 35.19047619047619 '0-18']
['bra' 'android' 'female' 19 35.206896551724135 '19-23']
['bra' 'android' 'male' 19 35.21621621621622 '19-23']
['bra' 'android' 'male' 21 35.25 '19-23']
['usa' 'android' 'female' 49 35.25 '41-66']
['bra' 'ios' 'male' 17 35.333333333333336 '0-18']
['bra' 'ios' 'female' 33 35.36363636363637 '31-40']
['deu' 'android' 'female' 24 35.36363636363637 '24-30']
['bra' 'ios' 'female' 45 35.36363636363637 '41-66']
['deu' 'android' 'male' 33 35.36363636363637 '31-40']
['bra' 'android' 'male' 30 35.36363636363637 '24-30']
['bra' 'android' 'male' 20 35.4 '19-23']
['usa' 'android' 'male' 41 35.42857142857143 '41-66']
['deu' 'ios' 'female' 16 35.557377049180324 '0-18']
['bra' 'android' 'female' 17 35.666666666666664 '0-18']
['bra' 'android' 'female' 25 35.666666666666664 '24-30']
['usa' 'android' 'female' 35 35.666666666666664 '31-40']
['bra' 'android' 'male' 41 35.666666666666664 '41-66']
['tur' 'ios' 'female' 19 35.666666666666664 '19-23']
['fra' 'android' 'male' 55 35.666666666666664 '41-66']
['usa' 'ios' 'female' 29 35.666666666666664 '24-30']
['fra' 'ios' 'male' 19 35.666666666666664 '19-23']
['tur' 'android' 'male' 22 35.666666666666664 '19-23']
['usa' 'android' 'female' 19 35.76470588235294 '19-23']
['usa' 'ios' 'female' 21 35.8 '19-23']
['usa' 'android' 'male' 51 35.875 '41-66']
['tur' 'android' 'male' 24 35.92307692307692 '24-30']
['bra' 'android' 'female' 16 35.94444444444444 '0-18']
['can' 'android' 'male' 15 36.0 '0-18']
['deu' 'ios' 'female' 26 36.0 '24-30']
['usa' 'ios' 'female' 28 36.142857142857146 '24-30']
['usa' 'android' 'male' 30 36.142857142857146 '24-30']
['tur' 'android' 'female' 52 36.142857142857146 '41-66']
['bra' 'android' 'male' 44 36.5 '41-66']
['bra' 'android' 'female' 24 36.5 '24-30']
['bra' 'ios' 'female' 18 36.5 '0-18']
['usa' 'android' 'male' 20 36.64705882352941 '19-23']
['fra' 'android' 'female' 16 36.72727272727273 '0-18']
['bra' 'ios' 'female' 15 36.77777777777778 '0-18']
['bra' 'ios' 'male' 35 36.77777777777778 '31-40']
['usa' 'ios' 'female' 26 36.857142857142854 '24-30']
['bra' 'ios' 'male' 15 36.878787878787875 '0-18']
['tur' 'android' 'female' 21 37.0 '19-23']
['bra' 'android' 'female' 56 37.0 '41-66']
['deu' 'ios' 'male' 42 37.0 '41-66']
['usa' 'android' 'male' 26 37.0 '24-30']
['bra' 'android' 'male' 26 37.095238095238095 '24-30']
['bra' 'android' 'male' 17 37.1578947368421 '0-18']
['bra' 'ios' 'male' 22 37.18181818181818 '19-23']
['usa' 'android' 'female' 33 37.18181818181818 '31-40']
['bra' 'android' 'female' 21 37.292682926829265 '19-23']
['deu' 'android' 'male' 23 37.333333333333336 '19-23']
['tur' 'ios' 'female' 20 37.333333333333336 '19-23']
['can' 'android' 'female' 18 37.333333333333336 '0-18']
['deu' 'ios' 'female' 18 37.333333333333336 '0-18']
['can' 'ios' 'male' 15 37.57142857142857 '0-18']
['bra' 'ios' 'male' 33 37.57142857142857 '31-40']
['fra' 'android' 'female' 15 37.57142857142857 '0-18']
['can' 'android' 'male' 49 37.57142857142857 '41-66']
['bra' 'android' 'female' 29 37.57142857142857 '24-30']
['tur' 'android' 'female' 26 37.57142857142857 '24-30']
['can' 'ios' 'male' 17 37.666666666666664 '0-18']
['deu' 'ios' 'female' 17 37.8235294117647 '0-18']
['usa' 'ios' 'female' 25 38.0 '24-30']
['deu' 'android' 'male' 37 38.166666666666664 '31-40']
['tur' 'android' 'male' 16 38.285714285714285 '0-18']
['fra' 'ios' 'male' 31 38.375 '31-40']
['usa' 'ios' 'female' 17 38.45945945945946 '0-18']
['usa' 'ios' 'male' 21 38.53488372093023 '19-23']
['bra' 'android' 'female' 15 38.714285714285715 '0-18']
['fra' 'android' 'male' 33 39.0 '31-40']
['fra' 'android' 'female' 21 39.0 '19-23']
['usa' 'ios' 'male' 50 39.0 '41-66']
['fra' 'ios' 'male' 51 39.0 '41-66']
['deu' 'ios' 'male' 16 39.0 '0-18']
['deu' 'android' 'female' 38 39.0 '31-40']
['tur' 'android' 'female' 49 39.0 '41-66']
['tur' 'android' 'male' 17 39.0 '0-18']
['bra' 'android' 'female' 32 39.0 '31-40']
['tur' 'android' 'male' 49 39.0 '41-66']
['bra' 'ios' 'female' 42 39.0 '41-66']
['bra' 'ios' 'female' 19 39.0 '19-23']
['bra' 'ios' 'female' 25 39.0 '24-30']
['tur' 'ios' 'female' 31 39.0 '31-40']
['tur' 'ios' 'male' 16 39.0 '0-18']
['usa' 'ios' 'female' 19 39.285714285714285 '19-23']
['bra' 'android' 'male' 15 39.3448275862069 '0-18']
['bra' 'android' 'male' 40 39.625 '31-40']
['tur' 'android' 'male' 26 39.666666666666664 '24-30']
['usa' 'android' 'male' 43 39.90909090909091 '41-66']
['can' 'android' 'male' 20 40.111111111111114 '19-23']
['can' 'android' 'male' 30 40.25 '24-30']
['bra' 'android' 'male' 24 40.42857142857143 '24-30']
['fra' 'android' 'male' 19 40.53846153846154 '19-23']
['tur' 'android' 'male' 27 40.666666666666664 '24-30']
['tur' 'ios' 'female' 21 40.666666666666664 '19-23']
['fra' 'ios' 'male' 17 40.666666666666664 '0-18']
['tur' 'android' 'female' 31 40.666666666666664 '31-40']
['usa' 'ios' 'male' 31 41.0 '31-40']
['tur' 'android' 'female' 15 41.0 '0-18']
['fra' 'android' 'male' 23 41.30769230769231 '19-23']
['usa' 'android' 'male' 47 41.5 '41-66']
['tur' 'android' 'male' 25 41.5 '24-30']
['usa' 'ios' 'female' 59 41.5 '41-66']
['tur' 'android' 'female' 18 41.5 '0-18']
['usa' 'ios' 'male' 30 41.72727272727273 '24-30']
['deu' 'android' 'male' 20 41.72727272727273 '19-23']
['tur' 'ios' 'male' 37 42.333333333333336 '31-40']
['usa' 'ios' 'male' 28 42.333333333333336 '24-30']
['bra' 'ios' 'male' 43 42.333333333333336 '41-66']
['tur' 'android' 'male' 15 42.333333333333336 '0-18']
['bra' 'android' 'female' 39 43.0 '31-40']
['tur' 'android' 'female' 32 43.0 '31-40']
['bra' 'android' 'female' 43 44.0 '41-66']
['bra' 'ios' 'female' 22 44.0 '19-23']
['tur' 'ios' 'female' 18 44.0 '0-18']
['tur' 'ios' 'male' 24 45.0 '24-30']
['deu' 'android' 'male' 34 45.0 '31-40']
['bra' 'android' 'female' 30 45.666666666666664 '24-30']
['usa' 'android' 'female' 61 45.666666666666664 '41-66']
['deu' 'android' 'male' 15 46.5 '0-18']
['usa' 'ios' 'male' 59 46.5 '41-66']
['usa' 'android' 'female' 47 49.0 '41-66']
['deu' 'android' 'female' 36 49.0 '31-40']
['deu' 'android' 'female' 51 49.0 '41-66']
['fra' 'ios' 'male' 20 49.0 '19-23']
['deu' 'ios' 'male' 20 49.0 '19-23']
['usa' 'ios' 'male' 32 54.0 '31-40']
['bra' 'android' 'male' 46 59.0 '41-66']
['fra' 'android' 'female' 24 59.0 '24-30']
['usa' 'android' 'male' 36 59.0 '31-40']

In [35]:
[row[0].upper() + "_" + row[1].upper() + "_" + row[2].upper() + "_" + row[5].upper() for row in agg_df.values]

agg_df["customers_level_based"] = [row[0].upper() + "_" + row[1].upper() + "_" + row[2].upper() + "_" + row[5].upper() for row in agg_df.values]

agg_df

,COUNTRY,SOURCE,SEX,AGE,PRICE,age_categori,customers_level_based
0,deu,android,male,26,9.0,24-30,DEU_ANDROID_MALE_24-30
1,usa,ios,female,38,19.0,31-40,USA_IOS_FEMALE_31-40
2,tur,ios,male,47,19.0,41-66,TUR_IOS_MALE_41-66
3,tur,android,male,21,19.0,19-23,TUR_ANDROID_MALE_19-23
4,fra,android,male,18,19.0,0-18,FRA_ANDROID_MALE_0-18
...,...,...,...,...,...,...,...
343,deu,ios,male,20,49.0,19-23,DEU_IOS_MALE_19-23
344,usa,ios,male,32,54.0,31-40,USA_IOS_MALE_31-40
345,bra,android,male,46,59.0,41-66,BRA_ANDROID_MALE_41-66
346,fra,android,female,24,59.0,24-30,FRA_ANDROID_FEMALE_24-30
347,usa,android,male,36,59.0,31-40,USA_ANDROID_MALE_31-40

In [36]:
agg_df = agg_df[["customers_level_based", "PRICE"]]
agg_df

        customers_level_based  PRICE
0      DEU_ANDROID_MALE_24-30    9.0
1        USA_IOS_FEMALE_31-40   19.0
2          TUR_IOS_MALE_41-66   19.0
3      TUR_ANDROID_MALE_19-23   19.0
4       FRA_ANDROID_MALE_0-18   19.0
..                        ...    ...
343        DEU_IOS_MALE_19-23   49.0
344        USA_IOS_MALE_31-40   54.0
345    BRA_ANDROID_MALE_41-66   59.0
346  FRA_ANDROID_FEMALE_24-30   59.0
347    USA_ANDROID_MALE_31-40   59.0

[348 rows x 2 columns]

# Görev 7: Yeni müşterileri (personaları) segmentlereayırınız.

In [37]:
agg_df["customers_level_based"].value_counts()

BRA_ANDROID_FEMALE_24-30    7
USA_IOS_FEMALE_24-30        7
BRA_ANDROID_MALE_24-30      7
USA_ANDROID_MALE_41-66      7
USA_ANDROID_MALE_24-30      7
                           ..
CAN_IOS_MALE_24-30          1
TUR_ANDROID_MALE_31-40      1
CAN_IOS_MALE_31-40          1
CAN_ANDROID_FEMALE_24-30    1
TUR_IOS_MALE_24-30          1
Name: customers_level_based, Length: 109, dtype: int64

In [39]:
agg_df = agg_df.groupby("customers_level_based").agg({"PRICE": "mean"})
agg_df

                              PRICE
customers_level_based
BRA_ANDROID_FEMALE_0-18   35.645303
BRA_ANDROID_FEMALE_19-23  34.077340
BRA_ANDROID_FEMALE_24-30  33.863946
BRA_ANDROID_FEMALE_31-40  34.898326
BRA_ANDROID_FEMALE_41-66  36.737179
...                             ...
USA_IOS_MALE_0-18         33.983495
USA_IOS_MALE_19-23        34.901872
USA_IOS_MALE_24-30        34.838143
USA_IOS_MALE_31-40        36.206324
USA_IOS_MALE_41-66        35.750000

[109 rows x 1 columns]

In [40]:
agg_df = agg_df.reset_index()
agg_df

        customers_level_based      PRICE
0     BRA_ANDROID_FEMALE_0-18  35.645303
1    BRA_ANDROID_FEMALE_19-23  34.077340
2    BRA_ANDROID_FEMALE_24-30  33.863946
3    BRA_ANDROID_FEMALE_31-40  34.898326
4    BRA_ANDROID_FEMALE_41-66  36.737179
..                        ...        ...
104         USA_IOS_MALE_0-18  33.983495
105        USA_IOS_MALE_19-23  34.901872
106        USA_IOS_MALE_24-30  34.838143
107        USA_IOS_MALE_31-40  36.206324
108        USA_IOS_MALE_41-66  35.750000

[109 rows x 2 columns]

In [44]:
agg_df["SEGMENT"] = pd.qcut(agg_df["PRICE"], 4, labels=["D", "C", "B", "A"])
agg_df

        customers_level_based      PRICE SEGMENT
0     BRA_ANDROID_FEMALE_0-18  35.645303       B
1    BRA_ANDROID_FEMALE_19-23  34.077340       C
2    BRA_ANDROID_FEMALE_24-30  33.863946       C
3    BRA_ANDROID_FEMALE_31-40  34.898326       B
4    BRA_ANDROID_FEMALE_41-66  36.737179       A
..                        ...        ...     ...
104         USA_IOS_MALE_0-18  33.983495       C
105        USA_IOS_MALE_19-23  34.901872       B
106        USA_IOS_MALE_24-30  34.838143       B
107        USA_IOS_MALE_31-40  36.206324       A
108        USA_IOS_MALE_41-66  35.750000       B

[109 rows x 3 columns]

In [45]:
agg_df.groupby("SEGMENT").agg({"PRICE": "mean"})

             PRICE
SEGMENT
D        29.206780
C        33.509674
B        34.999645
A        38.691234

## Görev 8: Yeni gelen müşterileri sınıflandırıp, ne kadar gelir getirebileceklerini  tahmin ediniz.

In [47]:
new_user = "TUR_ANDROID_FEMALE_31-40"
agg_df[agg_df["customers_level_based"] == new_user]

       customers_level_based      PRICE SEGMENT
72  TUR_ANDROID_FEMALE_31-40  41.833333       A

In [48]:
new_user = "FRA_IOS_FEMALE_31-40"
agg_df[agg_df["customers_level_based"] == new_user]

   customers_level_based      PRICE SEGMENT
63  FRA_IOS_FEMALE_31-40  32.818182       C